@use "./variables" as *;

.body {
    &__header,
    &__features-section,
    &__products,
    &__people {
        background-color: #FFFFFF;
    }

    &__process {
        background-color: $main-text-color;
        overflow: hidden;
    }

    &__footer {
        background-color: $main-text-color;
    }
}