@use "./variables" as *;
@use "./mixins" as *;

* {
    box-sizing: border-box;
}

.wrapper {

    &--main {
        @include wrapper(10px);
    }

    &--secondary,
    &--features {
        @include wrapper(20px);
    }
}

@media (min-width: 768px){
    .wrapper {

        &--main {
            @include wrapper(15px);
        }
    
        &--secondary {
            @include wrapper(30px);
        }

        &--features {
            @include wrapper(0);
        }
    }
}

@media (min-width: 1024px){
    .wrapper {

        &--main {
            @include wrapper(30px);
        }
    
        &--secondary,
        &--features  {
            @include wrapper(60px);
        }
    }
}

@media (min-width: 1440px){
    .wrapper {

        &--main,
        &--video {
            @include wrapper(auto);
            width: 1440px;
        }
    
        &--secondary,
        &--features {
            @include wrapper(auto);
            width: 1170px;
        }
    }
}






