@use '../variables' as *;
@use '../mixins' as *;

.features-card {
    padding: 60px 20px 38px 44px;
    position: relative;

    &:hover {
        background-color: $hover-color;
    }

    &:hover .features-card__icon path {
        fill: #FFFFFF; 
    }

    &:hover .features-card__hover-img {
        display: block;
    }

    &__icon {
        margin-bottom: 45px;
    }

    &__title {
        @include font($ff-ultra, 34px, 40px);
        color: $main-text-color;
        margin-top: 0;
        margin-bottom: 15px;
    }

    &__description {
        @include font($ff-sans, 16px, 32px);
        color: rgba(51, 51, 51, 0.5);
        @include marginY0;
    }

    &__hover-img {
        @include image ('../images/picture-3.jpg');
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        top: -20px;
        display: none;
    }
}

@media (min-width: 768px){
    .features-card {
        padding: 90px 30px 48px 64px;

        &__icon {
            margin-bottom: 55px;
        }

        &__title {
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 18px;
        }
    }
}

