@use "../variables" as *;
@use "../mixins" as *;

.button {
    text-decoration: none;
    text-transform: uppercase;
    @include paddingXY(42px, 12px);
    border-radius: 2px;

    &--dark {
        @include text-button(#FFFFFF);
        background-color: #000000;
        border: 1px solid rgba(255, 255, 255, 0.3);

        &:hover {
            color: $hover-color;
            border-color: $hover-color;
        }
    }

    &--light {
        @include text-button;
        background-color: #FFFFFF;
        border: 1px solid rgba(23, 27, 27, 0.24);

        &:hover {
            background-color: $hover-color;
            color: #FFFFFF;
        }
    }
}

