@use '../variables' as *;
@use '../mixins' as *;

.carousel {
    display: flex;
    gap: 24px;
    align-items: center;

    &__button {
        width: 8px;
        height: 8px;
        border: none;
        padding: 0;
        border-radius: 50%;
        background-color: rgba(158, 173, 141, 1);

        &--active {
            width: 16px;
            height: 16px;
            background-color: $main-text-color;
        }
    }
}

    