@use '../variables' as *;
@use '../mixins' as *;

.carousel {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

    &__button {
        width: 8px;
        height: 8px;
        border: none;
        padding: 0;
        border-radius: 50%;
        background-color: rgba(158, 173, 141, 1);

        &--active {
            transform: scale(2);
            background-color: $main-text-color;
        }

        &:not(.carousel__button--active):hover {
            transform: scale(1.5);
            background-color: rgba(23, 27, 27, 0.5);
        }
    }
}

    