@use '../variables' as *;
@use '../mixins' as *;

.slider {
    display: flex;
    gap: 40px;
    width: 100%;
    gap: 52px;
    justify-content: center;

    &__switch {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 50px;
    }

    &__button {
        width: 48px;
        height: 48px;
        border: none;
        border-radius: 50%;
        background-color: $main-text-color;

        &:hover {
            background-color: rgba(51, 51, 51, 0.9);
        }
    }

    &__number {
        @include sub-title;
        margin-bottom: 12px;
    }

    &__title {
        @include font($ff-oswald, 24px, 32px);
        color: $main-text-color;
        margin-top: 0;
        margin-bottom: 22px;
    }

    &__description {
        @include description-text(rgba(51, 51, 51, 0.5));
        margin-bottom: 35px;
        margin-top: 0;
        max-width: 400px;
    }

    &__next {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__next-title {
        @include marginY0;
        @include font($ff-sans, 16px, 32px);
        color: $main-text-color;
    }
}



@media (min-width: 1024px){
    .slider {
        justify-content: flex-start;
        
        &__description {
            width: 340px;
            max-width: none;
        }
    }
}
