@use '../variables' as *;
@use '../mixins' as *;

.about {
    @include paddingYY(90px, 60px);
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;

    &__illustration {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__information {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &__main-picture {
        width: 300px;
        height: 300px;
        z-index: 30;
        border-radius: 10px;
    }

    &__sub-picture,
    &__dots1,
    &__dots2,
    &__figure {
        display: none;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 13px;
        max-width: 460px
    }

    &__subtitle {
        @include  sub-title;
    }

    &__title {
        @include title-mobile;
    }
}


@media (min-width: 768px) {
    .about {
        @include paddingYY(130px, 100px);

        &__main-picture {
            width: 450px;
            height: 450px;
        }

        &__title {
            @include title;
        }

        &__text {
            gap: 18px;
            max-width: 570px;
        }

        &__illustration {
            position: relative;
            height: 705px;
            max-width: 770px;
        }

        &__main-picture {
            z-index: 40;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &__sub-picture {
            display: block;
            width: 370px;
            height: 304px;
            top: 20px;
            left: 70px;
            z-index: 30;
            position: absolute;
        }

        &__dots1 {
            display: block;
            position: absolute;
            z-index: 20;
            @include image('../images/background/dark-dots-1.png');
            width: 154px;
            height: 134px;
            top: 50px;
            right: 90px;
            transform: rotate(30deg);
        }
    
        &__dots2 {
            display: block;
            position: absolute;
            z-index: 20;
            @include image('../images/background/dark-dots-2.png');
            width: 100px;
            height: 88px;
            bottom: 220px;
            left: 20px;
            transform: rotate(180deg);
        }
    
        &__figure {
            display: block;
            position: absolute;
            z-index: 10;
            @include image('../images/background/fill-abstract.png');
            width: 550px;
            height: 550px;
            top: 90px;
            right: 130px;
        }
    }
}

@media (min-width: 1024px){
    .about {
        flex-direction: row;
        @include paddingYY(160px, 120px);

        &__illustration {
            width: 50%;
        }

        &__information {
            width: 50%;
            gap: 60px;
            align-items: flex-start;
        } 

        &__main-picture {
            width: 350px;
            height: 350px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &__sub-picture {
            width: 270px;
            height: 204px;
            top: 200px;
            left: 30px;
        }

        &__dots1 {
            top: 150px;
            right: 90px;
        }
    
        &__dots2 {
            bottom: 200px;
            left: 10px;
        }
    
        &__figure {
            top: 220px;
            right: 130px;
            width: 400px;
            height: 400px;
        }
    }
}

@media (min-width: 1240px){
    .about {
        &__main-picture {
            width: 450px;
            height: 450px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &__sub-picture {
            width: 370px;
            height: 304px;
            top: 20px;
            left: 20px;
        }

        &__dots1 {
            top: 50px;
            right: 90px;
        }
    
        &__dots2 {
            bottom: 220px;
            left: 20px;
            transform: rotate(180deg);
        }
    
        &__figure {
            width: 550px;
            height: 550px;
            top: 90px;
            right: 130px;
        } 
    }
}


