@use '../variables' as *;
@use '../mixins' as *;

.bakers {
    @include paddingYY(100px, 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 50px;

    &__subtitle {
        @include sub-title;
        margin-bottom: 18px;
    }

    &__title {
        @include title-mobile;
        margin-bottom: 50px;
        max-width: 535px;
    }

    &__picture {
        z-index: 40;
    }

    &__baker-photo {
        width: 100%;
    }

    &__dots,
    &__figure,
    &__line {
       display: none;
    }
}


@media (min-width: 768px){
    .bakers {
        @include paddingYY(160px, 100px);

        &__title {
            @include title;
            margin-bottom: 70px;
            max-width: 400px;
        }

        &__picture {
            position: relative;
        }

        &__baker-photo {
            position: relative;
            z-index: 30;
            width: 400px;
        }

        &__dots {
            display: block;
            @include image ('../images/background/dark-dots-2.png');
            width: 124px;
            height: 104px;
            transform: rotate(-45deg);
            position: absolute;
            z-index: 20;
            bottom: 190px;
            left: -90px;
        }
    
        &__figure {
            display: block;
            @include image ('../images/background/fill-abstract.png');
            width: 400px;
            height: 400px;
            transform: rotate(-105deg);
            position: absolute;
            z-index: 20;
            bottom: -40px;
        }
    
        &__line {
            display: block;
            @include image ('../images/background/abstract-light.png');
            width: 278px;
            height: 211px;
            position: absolute;
            z-index: 20;
            top: -50px;
            right: 100px;
        }
    }
}

@media (min-width: 1024px){
    .bakers {
        @include paddingYY(192px, 133px);
        flex-direction: row;
        justify-content: center;

        &__picture {
            width: 50%;
        }

        &__content {
            width: 50%;
        }   

        &__title {
            max-width: 600px;
        }  
    }
}

