@use "../variables" as *;
@use "../mixins" as *;

.header {
    @include paddingYY(16px, 25px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__nav-item {
        @include description-text(#000000);
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;
        transition-property: border-color;
        transition-duration: 0.7s;

        &:hover {
            border-color: $main-text-color;
        }
    }
}



@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        &__menu {
            flex-direction: row;
            gap: 72px;
            align-items: center;
        }

        &__navigation {
            gap: 60px;
            flex-direction: row;
        }
    } 
}




