@use '../variables' as *;
@use '../mixins' as *;

.products {
    @include paddingYY(70px, 70px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__subtitle {
        @include sub-title;
        margin-bottom: 14px;
    }

    &__title {
        @include font($ff-ultra, 46px, 50px);
        margin-top: 0;
        margin-bottom: 50px;
        width: 300px;
    }

    &__main-card {
        width: 100%;
        @include image ('../images/picture-9.jpg');  
    }

    &__content {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__card-category {
        @include sub-title(#FFFFFF);
    }

    &__card-title {
        @include font($ff-ultra, 30px, 38px);
        color: #FFFFFF;
        width: 100px;
        @include marginY0;
    }

    &__card-desc {
        @include font($ff-sans, 16px, 32px);
        color: rgba(255, 255, 255, 0.5);
        width: 200px;
        @include marginY0;
    }

    &__card-price {
        @include font($ff-ultra, 40px, 48px);
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__card-info {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    &__button {
        align-self: center;
    }
}



@media (min-width: 768px){
    .products {
        @include paddingYY(90px, 90px);

        &__subtitle {
            margin-bottom: 18px;
        }

        &__title {
            @include title;
            margin-bottom: 70px;
            width: 520px;
        }

        &__content {
            padding: 50px;
        }

        &__card-desc {
            width: 250px;
        }

        &__cards {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    
        &__main-card {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    
        &__cards {
            margin-bottom: 64px;
    
            &--bread {
                grid-column: 1/2;
                grid-row: 2/3;
            }
    
            &--cupcake {
                grid-column: 2/3;
                grid-row: 2/3;
            }
    
            &--biscuits {
                grid-column: 1/2;
                grid-row: 3/4;
            }
    
            &--brioche {
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }
    }
}

@media (min-width: 1024px){
    

@media (min-width: 1240px) {
    .products {
        @include paddingYY(105px, 112px);

        &__main-card {
            width: 770px;
            @include image ('../images/picture-9.jpg');  
        }

        &__content {
            padding: 185px 48px 39px 48px;
            gap: 17px;
        }

        &__card-title {
            @include font($ff-ultra, 40px, 48px);
            width: 294px;
        }

        &__card-desc {
            width: 322px;
        }
        
        &__card-info {
            gap: 298px;
            flex-direction: row;
        }

        &__cards {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
        }
    
        &__main-card {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    
        &__cards {
            margin-bottom: 64px;
    
            &--bread {
                grid-column: 3/4;
                grid-row: 1/2;
            }
    
            &--cupcake {
                grid-column: 1/2;
                grid-row: 2/3;
            }
    
            &--biscuits {
                grid-column: 2/3;
                grid-row: 2/3;
            }
    
            &--brioche {
                grid-column: 3/4;
                grid-row: 2/3;
            }
        }
    }
}
}
