@use '../variables' as *;
@use '../mixins' as *;

.process {
    @include paddingYY(105px, 105px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    &__subtitle {
        @include sub-title(#FFFFFF);
        margin-bottom: 18px;
    }

    &__title {
        @include title(#FFFFFF);
        margin-bottom: 70px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        z-index: 30;
        width: 100%;
        gap: 1px;
    }

    &__card-item {
        width: 100%;
    }
    
    &__dots {
        display: none;
    }

    &__abstract {
        display: none;
    }
}

@media (min-width: 768px){
    .process {
        &__card-item {
            width: calc(50% - 1px);
        }
    }
}

@media (min-width: 1024px){
    .process {
    &__cards {
        justify-content: center;
    }

        &__card-item {
            max-width: 450px;
        }

        
    }
}


@media (min-width: 1240px) {
    .process {

        &__cards {
            flex-wrap: nowrap;
        }
        &__card-item {
            width: 25%;
        }
        &__dots {
            display: block;
            @include image ('../images/background/light-dots.png');
            position: absolute;
            width: 154px;
            height: 134px;
            z-index: 20;
            top: -20px;
            left: 30px;
        }
    
        &__abstract {
            display: block;
            @include image ('../images/background/abstract-light.png');
            position: absolute;
            width: 278px;
            height: 211px;
            z-index: 20;
            top: -40px;
            left: 0;
        }
    }
}

@media (min-width: 1440px){
    
    
}