@use '../variables' as *;
@use '../mixins' as *;

.process-video {
    position: relative;
    @include image('../images/poster2.jpg');
    height: 230px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 20px;

    &__content {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__name {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &__subtitle {
        @include sub-title(#FFFFFF);
    }

    &__title {
        @include font($ff-ultra, 25px, 30px);
        @include marginY0;
        color: #FFFFFF;
        max-width: 180px;
    }

    &__button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        background-color: #FFFFFF;

        &:hover {
            background-color: $hover-color;
        }

        &:hover path {
            fill: #FFFFFF;
        }

        & svg {
            width: 20px;
            height: 26px;
        }
    }
}

@media (min-width: 768px){
    .process-video {
        height: 380px;

        &__title {
            @include title-mobile(#FFFFFF);
            max-width: 400px;
        }

        &__button {
            width: 90px;
            height: 90px;
        }
    }
}

@media (min-width: 1024px){
    .process-video {
        height: 480px;

        &__title {
            @include title(#FFFFFF);
        }

        &__button {
            width: 120px;
            height: 120px;

            & svg {
                width: 25px;
                height: 31px;
            }
        }

        &__content {
            gap: 130px;
        }
    }
}